/src/Core/Semdelion.Droid/bin/Debug
/src/Core/Semdelion.Droid/obj
/src/Core/Semdelion.iOS/obj
/src/Core/Semdelion.iOS/bin/Debug
/src/Semdelion/.vs/Semdelion
/src/Semdelion/Core/Semdelion.Core/obj
/src/Semdelion/Playground/Playground.Core/obj
/src/Semdelion/Playground/Playground.Droid/bin/Debug
/src/Semdelion/Playground/Playground.Droid/obj
/src/Semdelion/Playground/Playground.iOS/obj
/src/Semdelion/Playground/Playground.iOS/bin/Debug
